<section class="container">
    <img src="../../assets/images/fundo.png" alt="">
    <div class="title-1">
        <h1>Mergulhe em <br> um mundo <br> de informação!</h1>
        <p>Você vai estudar, praticar, discutir e se aprofundar <br> em uma plataforma que respira</p>
        <button class="button" style="vertical-align:middle"><span>Saiba mais </span></button>
    </div>

    <div class="home-i-1">
        <img src="../../assets/images/Home-img-1.png" alt="">
    </div>

</section>

<section class="container-cont">
   <div class="title-2">
    <h1>Por onde começar?</h1>
    <p>O IFBA ta complicado? tem alguma duvida? Este é o local certo para você. Buscando disponibilizar os melhores conteudos para que sua pesquisa seja rapida e eficiente. Veja algumas funcionalidades da nossa plataforma. </p>
    <button class="button-2">Veja mais</button>
    <button class="button-2 disabled">Veja um video agora!</button>
   </div>
</section>


<section class="container-exple">
    <div class="title-3">
        <h1>O que você vai achar no nosso dashboard</h1>
    </div>
    <div class="img-fundo-dir">
        <img src="../../assets/images/conteudos.png" alt="">
    </div>
    <div class="cards-container">
        <div class="card">
            <img src="../../assets/images/estudando.png" alt="">
            <h2>Conteúdos</h2>
        </div>
        <div class="card">
            <img src="../../assets/images/teste.png" alt="">
            <h2>Atividades</h2>
        </div>
        <div class="card">
            <img src="../../assets/images/cerebro.png" alt="">
            <h2>Fórum</h2>            
        </div>
        <div class="card">
            <img src="../../assets/images/medalha.png" alt="">
            <h2>Rank</h2>            
        </div>
    </div>

</section>


<section class="container-sobre">
    <div class="title-4">
       <h1>Quem Somos Nós</h1>
    </div>
    <div class="container-perfil"> 
        <div class="card-perfil">
            <img src="../../assets/images/joao.jfif" alt="">
            <h2>João Emanuel</h2>
        </div>
        <div class="card-perfil">
            <img src="../../assets/images/keven.jfif" alt="">
            <h2>Keven Santana</h2>
        </div>
        <div class="card-perfil">
            <img src="../../assets/images/samuel.jfif" alt="">
            <h2>Samuel Silva</h2>
        </div>
    </div>
</section>
<div class="fundo-perfil"></div>

<section class="container-rodape">
    <img src="../../assets/images/ifba-logo.jpg" alt="">
    <h3>IFBA - Campus Santo Amaro</h3>
</section>




