<div class="container">
  <div class="row">
    <div class="title"><h1>Geografia</h1></div>
    <div class="busca">
      <input type="text" placeholder="Buscar..." name="buscar" />
      <button type="submit">
        <img src="../../assets/images/lupa.png" alt="" />
      </button>
    </div>
  </div>

  <div class="assuntos">
    <h2>Mais recentes</h2>
    
    <ul>
      <li class="lista" *ngFor="let assunto of assuntos">
        <a href="home/disciplina/postados">{{assunto}}</a>
      </li>
    </ul>

    <h2>Outros</h2>

    
<!-- 
    <button><span> Energia Elétrica </span></button>
    <button><span> Urbanização </span></button>
    <button><span> </span></button>
    <button><span> </span></button> -->
  </div>
</div>
