<div class="container">
  <div class="row"><h1>Perfil</h1></div>
  <div class="col">
    <img
      src="https://static-cse.canva.com/blob/183660/Drobot-DeanCanva.jpg" alt="Perfil"
    />
    <div class="form-group">
      <h2>Jorge Menezes da Silva</h2>
      <p>Início: <strong>2018</strong></p>
      <p>Curso: <strong>Tecnologia da Informação</strong></p>
      <p>Matricula: <strong>xxxxxxxxxxx</strong></p>
      <p>Telefone: <strong>(xx)xxxx-xxxx</strong></p>
      <p>Email: <strong>Jorgemenezes@gmail.com</strong></p>
    </div>
  </div>

  <div class="rank">
    <h1>Rank</h1>

    <div class="container-rank">
      <div class="nivel">
        <img src="../../assets/images/rankings.png" alt="" />
        <p>Nivel</p>
      </div>
      <div class="nivel">
        <img src="../../assets/images/trophy.png" alt="" />
        <p>Conquistas</p>
      </div>
      <div class="nivel">
        <img
          src="../../assets/images/line-ascendant-graphic-of-zigzag-arrow (1).png"
          alt=""
        />
        <p>Estatísticas</p>
      </div>
    </div>
  </div>
</div>
