<div class="container">


    <form class="busca" >
      <div class="title"> <h1>Duvidas</h1></div>
      <input type="text" placeholder="Buscar..." name="buscar">
      <button type="submit"><img src="../../assets/images/lupa.png" alt=""></button>
    </form>

  <div class="form-group-perguntas">
    <div class="perguntas-realizadas">
      <div class="perfil">
        <img src="../../assets/images/perfil (2).png" alt="">
        <div>
          <h3>Keven Santana</h3>
          <strong>4º-TI</strong>
        </div>
      </div>
        <p>Qual a relação entre a globalização e os avanços tecnológicos? </p>
    </div>
    <div class="form-group-perguntas">
      <div class="perguntas-realizadas">
        <div class="perfil">
          <img src="../../assets/images/perfil (2).png" alt="">
          <div>
            <h3>Keven Santana</h3>
            <strong>4º-TI</strong>
          </div>
        </div>
          <p>Qual a relação existente entre os avanços tecnológicos?</p>
      </div>
      <div class="form-group-perguntas">
        <div class="perguntas-realizadas">
          <div class="perfil">
            <img src="../../assets/images/perfil (2).png" alt="">
            <div>
              <h3>Keven Santana</h3>
              <strong>4º-TI</strong>
            </div>
          </div>
            <p>Qual a relação entre a globalização e os avanços tecnológicos? </p>
        </div>

  </div>

  <div class="fazer-pergunta">
    <textarea class="text-area" cols="20" rows="5" placeholder="Qual a sua duvida?"></textarea>
    <button type="submit">POSTAR</button>
  </div>

</div>
