<div class="container">

    <div class="row">
      <h1>Departamento</h1>
    </div>
  
    <div class="container1">
      <button class="title-button" type="button" onclick="Mudarestado('div-humanas')">HUMANAS</button>
      <div id="div-humanas"class="disc-button" >
        <a href="/home/disciplina"><button type="button">Geografia</button></a>
        <button type="button">FILOSOFIA</button>
        <button type="button">HISTÓRIA</button>
        <button type="button">Artes</button>
      </div>
    </div>
  
    <div class="container1">
      <button class="title-button" type="button" onclick="Mudarestado('div-extas')">EXTATAS</button>
      <div id="div-extas" class="disc-button"  style="display:none">
        <button type="button">MATEMÁTICA</button>
        <button type="button">FÍSICA</button>
        <button type="button">QUÍMICA</button>
        <button type="button">... </button>
        <button type="button">... </button>
  
      </div>
    </div>
  
    <div class="container1">
      <button class="title-button" type="button" onclick="Mudarestado('div-linguagens')">LINGUÁGENS</button>
      <div id="div-linguagens" class="disc-button" style="display:none">
        <button type="button">PORTUGUÊS</button>
        <button type="button">INGLÊS</button>
        <button type="button">ESPANHOL</button>
        <button type="button">... </button>
        <button type="button"> </button>
      </div>
    </div>
  
    <div class="container1">
      <button class="title-button" type="button" onclick="Mudarestado('div-tecnicas')">TÉCNICAS</button>
      <div id="div-tecnicas" class="disc-button" style="display:none">
        <button type="button">DESENHO TÉCNICO</button>
        <button type="button">INTRODUÇÃO A INFORMATICA</button>
        <button type="button">PROJETO DE SOFTWARE </button>
        <button type="button">ARQT. DE COMPUTADORES </button>
        <button type="button">REDES DE COMPUTADORES </button>
  
      </div>
    </div>
  </div>
  
  