<header>
  <div class="barra-superior">

    <div class="icon-logo">
      <img src="assets/images/Logo-mark.png" alt="">
    </div>
    
    <div class="busca">
      <input type="text" placeholder="O que você quer aprender?" name="buscar" />
      
    </div>
    
    <nav class="container">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/departamento" routerLinkActive="active">Departamento</a>
      <a routerLink="/postar" routerLinkActive="active">Postar</a>
      <a routerLink="/duvidas" routerLinkActive="active">Duvidas</a>
      <a routerLink="#" routerLinkActive="active"> <img class="icon-notificacao" src="assets/images/notificacao.png" alt="perfil" /></a>
      <a routerLink="/perfil" routerLinkActive="active"> <img class="icon-perfil" src="assets/images/perfil.png" alt="perfil" /></a>
    </nav>
    
  </div>
  


<router-outlet></router-outlet>

