
    <div class="container">
      <div class="row">
        <h1>Globalização</h1>
      </div>


      <div class="banner">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQlppEnaRproVW4bxwgI-jY1AbvAcJFKB0xw&usqp=CAU" width="1000" height="250" alt="banner" />
      </div>

      <div class="pdf">
        <h2>PDF's</h2>

        <button><span>Globalização</span></button>
        <button><span>Globalização</span></button>
        <button><span>Globalização</span></button>
        <button><span>Globalização</span></button>
      </div>

      <div class="cartaz">
        <h2>Imagens</h2>

        <div class="img">
            <a target="_blank" href="fjords.jpg">
              <img src="https://img.elo7.com.br/product/360x360/2CC481E/painel-sublimado-fazenda-milharal-por-do-sol-300x200-tecido.jpg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="img">
            <a target="_blank" href="forest.jpg">
              <img src="https://tapetesnaweb.vteximg.com.br/arquivos/ids/181896-600-600/Tapete-Sisal-Dupla-Face-Kayla-3-200X300---Edx-Tapetes5.jpg?v=637261927222830000" alt="Forest" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="img">
            <a target="_blank" href="lights.jpg">
              <img src="https://images-shoptime.b2w.io/produtos/3366372917/imagens/tapete-retangular-peludo-para-quarto-e-sala-200x300-marrom-casen/3366372917_1_large.jpg" alt="Northern Lights" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="img">
            <a target="_blank" href="mountains.jpg">
              <img src="https://images-shoptime.b2w.io/produtos/3366372917/imagens/tapete-retangular-peludo-para-quarto-e-sala-200x300-marrom-casen/3366372917_1_large.jpg" alt="Mountains" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>
          <div class="img">
            <a target="_blank" href="fjords.jpg">
              <img src="https://img.elo7.com.br/product/360x360/2CC481E/painel-sublimado-fazenda-milharal-por-do-sol-300x200-tecido.jpg" alt="Fjords" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>
      </div>
    </div>

